<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .hideMe {
            -moz-animation: cssAnimation 0s ease-in 5s forwards;
            /* Firefox */
            -webkit-animation: cssAnimation 0s ease-in 5s forwards;
            /* Safari and Chrome */
            -o-animation: cssAnimation 0s ease-in 5s forwards;
            /* Opera */
            animation: cssAnimation 0s ease-in 5s forwards;
            -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
        }
        @keyframes cssAnimation {
            to {
                width:0;
                height:0;
                overflow:hidden;
                display: none;
            }
        }
        @-webkit-keyframes cssAnimation {
            to {
                width:0;
                height:0;
                visibility:hidden;
                display: none;
            }
        }
  </style>
</head>
<body>
    <div class="grid grid-cols-6">
        <div class="col-start-2 col-span-4">
            <%- include('header') %>
            <br><br><br>
            <h1 class="text-4xl"><%= election.electionName %></h1>
            <br><br>
            <h4 class="">There are <%= voterCount %> registerd in this Election</h4>
            <br>
            <a href="/admin/election/voters/<%= election.id %>" >Manage Voters</a>
            <div>
                <div class="hideMe">
                    <% if(messages && messages.error && messages.error.length > 0)  { %>
                        <ul class="bg-red-100 rounded border border-red-200 border-2 hideMe">
                            <% for(var i=0; i<messages.error.length; i++) { %>
                                    <li class="text-center hideMe"> <%= messages.error[i] %></li>
                            <% } %>
                        </ul>
                    <% } %>
                    <% if(messages && messages.success && messages.success.length > 0)  { %>
                        <ul class="bg-green-100 rounded border border-green-200 border-2 hideMe">
                            <% for(var i=0; i<messages.success.length; i++) { %>
                                    <li class="text-center hideMe"> <%= messages.success[i] %></li>
                            <% } %>
                        </ul>
                    <% } %>
                    <% if(messages && messages.info && messages.info.length > 0)  { %>
                        <ul class="bg-blue-100 rounded border border-blue-200 border-2 hideMe">
                            <% for(var i=0; i<messages.info.length; i++) { %>
                                    <li class="text-center hideMe"> <%= messages.info[i] %></li>
                            <% } %>
                        </ul>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>